@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



.all {
    padding-bottom: 500px 0;
    background-color: #ffffff;
}

.noblesse .item h1 {
    width: 1580px;
    margin: 150px auto;
    background-color: rgb(255, 255, 255);
    font-size: 46.8px;
    text-align: left;
}

.noblesse .item .banner {
    width: 1920px;
    object-fit: cover;
}


.item .noble_pic {
    width: 1580px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
}

.item .noble_pic .noblesse-01 {
    width: 282px;
    background-color: #ffffff;
    margin-right: 50px;
}

.item .noble_pic .noblesse-01 img {
    width: 100%;
    object-fit: cover;
}

.item .noble_pic .noblesse-01 .text {
    padding: 5px;
}

.item .noble_pic .noblesse-01 .text h2 {
    font-size: 12px;
    padding-bottom: 10px;
    height: 10px;
}

.item .noble_pic .noblesse-01 .text h3 {
    font-size: 15px;
    padding-bottom: 10px;
    height: 30px;
}

.item .noble_pic .noblesse-01 .text p {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* --------------------------------------------------------- */

.noblesse2 .item2 .text_main {
    width: 1580px;
    background-color: rgb(255, 255, 255);
    margin: 120px auto;
    text-align: left;
}

.item2 .text_main h1 {
    font-size: 46.8px;
    text-align: left;
    margin-bottom: 50px;
}

.item2 h2 {
    font-size: 15.8px;
    padding: 10px;
    text-align: center;
    display: inline;
    background-color: rgba(214, 214, 214, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.item2 .noble_pic2 {
    width: 1580px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
}

.item2 .noble_pic2 .noblesse-02 {
    width: 282px;
    background-color: #ffffff;
    margin-right: 50px;
}

.item2 .noble_pic2 .noblesse-02 img {
    width: 100%;
    object-fit: cover;
}

.item2 .noble_pic2 .noblesse-02 .text2 {
    padding: 5px;
}


.item2 .noble_pic2 .noblesse-02 .text2 h3 {
    font-size: 12px;
    padding-bottom: 10px;
    height: 10px;
}

.item2 .noble_pic2 .noblesse-02 .text2 h4 {
    font-size: 15px;
    padding-bottom: 10px;
    height: 30px;
}

.item2 .noble_pic2 .noblesse-02 .text2 p {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}
